.user-list {
	padding-left: 2rem;
	list-style-type: none;
	display: block;
	text-align: left;
	
  }
  
  ul li {
	padding-left: 2rem;
	background-position: 0 0;
	background-size: 1.6rem 1.6rem;
	background-repeat: no-repeat;
  }